  <div *ngIf="moviesDetail">
                <div class="col-9">
                 <div class="card" >
                   <img src="{{ moviesDetail.Poster }}" class="card-img-top" alt="..." >
                   <div class="card-body">
                     <h5 class="card-title">{{moviesDetail.Title}}</h5>
                     <p class="card-text">Anno: {{moviesDetail.Year}} </p>
                     <p class="card-text"> Attori: {{moviesDetail.Actors}} </p>
                     <p class="card-text">Trama: {{moviesDetail.Related}} </p>
                     <p class="card-text">{{moviesDetail.Plot}} </p>
                   </div>
                  </div>
                     <button (click)="goBack()">go back</button>
                </div> 


  </div>
   