<div *ngIf="MoviesDetail">
        <div >
                <div class="col-sm-4">
                 <div class="card" >
                   <img src="{{ MoviesDetail.Poster }}" class="card-img-top" alt="..." >
                   <div class="card-body">
                     <h5 class="card-title">{{MoviesDetail.Title}}</h5>
                     <p class="card-text">{{MoviesDetail.Year}} </p>
                     <p class="card-text">{{MoviesDetail.Actors}} </p>
                   </div>

                  </div>

                </div>
        </div>
</div>
   